// out: ../main.css
body
  background-color #CCC
  height 100vh
  font-family 'Quicksand', Helvetica, sans-serif
  font-size: 20px

.abs-center
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

.canvas-container
  display block
  position relative
  height 600px
  width 840px
  margin auto
  transition 0.3s cubic-bezier(0.6,0,0.2,1)

#cnv
  height 100%
  width 100%
  border 2px solid #222
  box-shadow 10px 10px 0 0 rgba(0,0,0,0.1)

.info-container
  display flex
  justify-content space-between
  padding 20px
  width 800px
  transition 0.3s cubic-bezier(0.6,0,0.2,1)
  & > *
    margin 1em
  & > p
    text-align right

.dev-info *
  margin-right 10px

@media screen and (max-width: 900px)
  .canvas-container
    height 453px
    width 633px
  .info-container
    width 633px
